@media screen and (max-width:768px){
    .box{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        align-items: center;
        line-height: 5px;
        color:white;
        padding-bottom: 50px;
        border: 5px solid gray;
        
    }
}

@media screen and (min-width:769px){
    .box{
        margin: 10px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: flex-end;
        background-color: black;
        align-items: center;
        line-height: 5px;
        color:white;
        padding: 10px;
        
    }
}